.news-section-light {
  position: relative;
  padding: 70px 0 70px;
  color: #fff;
}



@media (min-width: 768px) {
  .news-section-light{
   h4{
     margin-bottom: 20px;
   }
    p{
      margin-bottom: 20px;
    }
  }
}