.news-section-4{
  background-image: url("../img/triangles.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 80% 100%;
}

@media (min-width: 768px) {
  .news-section-4 {
    h4 {
      margin-bottom: 20px;
    }
  }
}

