.our-work{
  position: relative;
  background-color: #de2b24;
  padding: 50px 0 100px 0;

  .col-md-3{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;

  }
  .p-light{
    margin-bottom: 50px;
  }
}

.col-md-3{
  margin-left: 0px;
  margin-right: 0px;
}

.work1, .work2,.work3,.work4,.work5,.work6,.work7,.work8{
    .hover{
      padding: 50px 0 50px 0;
      background-color: #f35e59;
      color: white;
      height: 230px;
      width: 230px;
      transition: 0.3s;
    span{
      margin: 5px;
      font-size: 36px;
      font-weight: 400;
    }
      h4{
        margin: 5px;
        font-weight: 700;
        font-size: 26px;
      }
      p{
        margin: 5px;
        font-size: 16px;
      }
    }
  .hover:hover{
    background-color: transparent;
    color: transparent;
  }

}

.work1{
  background-image: url("../img/works1.png");
}
.work2{
  background-image: url("../img/works1.png");
}
.work3{
  background-image: url("../img/works2.png");
}
.work4{
  background-image: url("../img/works2.png");
}
.work5{
  background-image: url("../img/works3.png");
}
.work6{
  background-image: url("../img/works3.png");
}
.work7{
  background-image: url("../img/works4.png");
}
.work8{
  background-image: url("../img/works4.png");
}