.our-upproch{
  position: relative;
  padding: 100px 0 100px 0;
  background-color: #f3f3f3;
}

.step1, .step2, .step3, .step4{
  margin: 40px 0 40px 0;
  padding: 55px 0 55px 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
  .h4-drk{
    margin: 0 15px 0 15px;
  }
}

.step1{
  background-image: url("../img/camera.png");
}
.step2{
  background-image: url("../img/road.png");
  background-position: right;
}
.step3{
  background-image: url("../img/tabel.png");
}
.step4{
  background-image: url("../img/imac.png");
  background-position: right;
}