body{
  font-family: 'Lato', sans-serif;

}
h2{
  margin: 25px 0 25px 0;
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  line-height: 72px;
  text-transform: uppercase;
}


h3{
  margin: 25px 0 25px 0;
  color: #333333;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
h4{
  margin: 10px;
  color: #ffffff;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.btn-main{
  width: 168px;
  height: 45px;
  margin: 5px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn-main:hover{
  background-color: transparent;
  color: #000;
  border: 1px solid #000;

}
.btn-blue{
  width: 40px;
  height: 40px;
  background-color: #009bff;
  color: #ffffff;
  border: none;

}

@media (max-width: 768px) {
 body{
   background-image: none;
   background-color: #ececec;
 }


}