.blog-post{
  position: relative;
  padding: 100px 0 0px;

}

.important-text{
      margin-top: 50px;
      margin-bottom: 50px;
  p{
    border-left: solid 2px #ffaf36;
    font-size: 13px;
    padding: 20px 45px;
    background-color: #fef1de;
  }
}

.admin-sad{
  margin: 70px 0 70px 0;
}

.admin-text{
  background-color: #36a8ff;

  p{
    color: #dbefff;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 40px;

  }
}