.contact-contact-form {
  background-color: #eaeff3;
  position: relative;
  padding: 100px 0 100px;
  color: #fff;
}

.contact-contact-form form{
  input, textarea, select{
    height: 50px;
    margin-top: 25px;
    background: transparent;
    border:none;
    border-bottom: solid 1px #dce3e8;;
  }
  ::-webkit-input-placeholder {color: #757c81; font-weight: 700; }
  :focus::-webkit-input-placeholder {color: transparent}

  select{
    background-color: #eaeff3;
    color: #757c81;
    font-weight: 700;
  }
}




@media (min-width: 768px) {
  .contact-contact-form form{

    margin-top: 40px;

    textarea{
      height: 250px;
    }
  }
}