.partners{
  position: relative;
  padding: 100px 0 70px;
  background-image: url("../img/triangles.png");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 80% 100%;

  .allbrand {
    margin-top: 50px ;
    margin-left: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;

    .brand1, .brand2, .brand3, .brand4, .brand5, .brand6 {
      width: 200px;
      border: 1px solid #eaeff3;

      img{
        padding: 20px 50px;
      }
    }
  }

  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -42%;
    padding-top: 50px;

    text-align: center;
    list-style: none;
  }
  .carousel-indicators li {
    display: inline-block;
    float: left;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #36a8ff;
    border-radius: 10px;
  }
  .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #ffaf36;
  }



}

