.about{
  background-image: url("../img/aboutbg.png");
  background-position-y: -200px;
  padding-bottom: 170px;


  img{
    display: inline-block;
    padding: 25px;
  }
  p{
    padding: 0 25px;
    color: #6e6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

}

@media (max-width: 800px) {
.about{
  padding-bottom: 20px;
  background-image: url("../img/aboutbg.png");
  background-position-y: -20px;
  p{
    padding: 0 25px;
    color: #6e6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
  }
}
}