.pre-footer{
  position: relative;
  background-image: url("../img/footerbg.png");
  margin-top: -100px;
  padding-bottom: 50px;
  border-bottom: 1px solid #4a627c;;

  p{

    color: #9ab3cc;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    line-height: 30px;

  }
  input{
    margin: 25px 0;
    height: 40px;
    border: 1px transparent;

  }
  .footer-p{
    color: #9ab3cc;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    margin-top: 200px;
    padding: 0 75px 0 25px;
  }
  .footer-nav{
    margin-top: 160px;
    h3{
      color: #ffffff;
      font-family: Lato;
      font-size: 12px;
      font-weight: 600;

    }
    a{
      color: #9ab3cc;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
    }
  }
  .newslater{

  }

}

@media (max-width: 800px) {
  .pre-footer {
    position: relative;
    background-image: none;
    background-color: #1d3c51;
    margin-top: -100px;
    padding-bottom: 50px;
    border-bottom: 1px solid #4a627c;
  }
}
