.pricing{
  position: relative;
  background-image: url("../img/pricingbg.png");
  background-repeat: no-repeat;

  margin-top: -200px;
  padding: 200px 0 200px 0;


  h3{
    color: #ffffff;
    font-family: Lato;
    font-size: 26px;
    font-weight: 700;

    text-transform: uppercase;

  }


  h4{
    color: #000000;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
  }

  .price{
    color: #000000;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    span{
      font-size: 40px;
    }
  }

}

.item-yellow {
  background-color: #ffcc00;
  padding: 25px 0 25px 0;
  margin-top: 20px;
}

.item-blue{
  padding: 25px 0 25px 0;
  border: 1px solid #009bff;
  background-color: #009bff;
}

.top{
  border-bottom: 1px solid #abdeff;
  padding: 0 0 25px 0;
}


@media (max-width: 800px) {
  .pricing {

    background-image: none;
    background-color: #ffffff;

    margin-top: 200px;
    padding: 200px 0 200px 0;

  }
}