.projects{
  position: relative;
  color: #ffffff;

  p{
    margin: 25px 0 25px 0;
    color: #6e6e6e;

    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

}

/*Carousel*/
#ProjectsCarousel{
  padding: 50px 0 50px 0;
  background-color: #ffffff;
}

.carousel-indicators .active {
  background-color: #009bff;
}