.about-singular{
  background-image: url("../img/about-bg.png");
  position: relative;
  padding: 20px 0 50px;

  p{
    margin: 10px;
  }

  .item{
    margin: 25px 0 25px 0;
  }
  p{
    margin: 0px;
  }

}
