.hero {
  padding: 60px 0 50px 0;
  background: url("../img/hero-bg.png") 50% 0 /cover;
  position: relative;
  color: #fff;
  height: 100vh;


  .navbar-header {
    float: none;

  }
  .navbar-toggle {
    display: block;
    float: right;

  }
  .navbar-collapse.collapse {
    display: none !important;

  }
  .navbar-nav {


    float: none !important;
  }
  .navbar-nav > li {
    background-color: #222222;
    float: none;
    a{
      color: #d11f2d;


    }
  }
  .navbar-collapse.collapse.in {
    display: block !important;

  }
  .icon-bar {
    background-color: #FFF !important;
  }

}
@media (min-width: 768px) {
  h2{
    padding-top: 20vh;
    font-size: 40px;
  }

}




