.btn-dark {
  display: inline-block;
  margin: 0 auto;
  padding: 20px 35px;
  text-transform: uppercase;
  background-color: #ffaf36;
  border: none;
  font-size: 13px;
  font-weight: 700;
  color: black;
  transition: 0.3s all ease-out;
  cursor: pointer;
  &:hover {
    outline: none;
    background-color: #36a8ff;
    color: black;
  }
  &:focus {
    outline: none;
  }
}

.btn-light {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 35px;
  text-transform: uppercase;
  background-color: transparent;
  border: solid 1px #ffaf36;
  font-size: 13px;
  font-weight: 700;
  color: #ffaf36;
  transition: 0.3s all ease-out;
  cursor: pointer;
  &:hover {
    outline: none;
    background-color: #36a8ff;
    color: white;
    border: solid 1px #36a8ff;
  }
  &:focus {
    outline: none;
  }
}


.btn-contact {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 35px;
  text-transform: uppercase;
  background-color: transparent;
  border: solid 1px #ffaf36;
  font-size: 13px;
  font-weight: 700;
  color: #000;
  transition: 0.3s all ease-out;
  cursor: pointer;
  &:hover {
    outline: none;
    background-color: #36a8ff;
    color: white;
    border: solid 1px #36a8ff;
  }
  &:focus {
    outline: none;
  }
}




@media (min-width: 768px) {


}