body {
  font-family: 'Open Sans', 'Raleway',  sans-serif;
}
h1{
  padding-top: 10px;
}

h2{
  opacity: 0.9;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.h3-light{
  color: #ffffff;
  font-size: 40px;
  font-weight: 400;
  line-height: 34px;
  margin: 40px;
}
.h3-drk{
  color: #222222;
  font-size: 40px;
  font-weight: 400;
  line-height: 34px;
  margin: 40px;
}

h4{
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  margin-top: 13px;

}

p{

}
.p-hero{

}
.p-service{

}
.p-light{
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}
.p-drk{
  color: #222222;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
}
.p-about{
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;

}
span{

}

.btn-down{
    a{
      display: block;
      padding-top: 30vh;
      opacity: 0.9;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.2s all ease-out;
    }
  a:hover{
    color: #36a8ff;
  }
}

.btn-white{
  margin-top: 70px;
  color: #ffffff;
  background-color: transparent;
  font-size: 30px;
  font-weight: 400;
  padding: 25px 70px;
  border: 2px solid white;
}
.btn-white:hover{
  color: #d11f2d;
  border: 2px solid #d11f2d;
  background-color: #222222;
  transition: 0.2s all ease-out;
}

.btn-red{
  display: inline-block;
  margin: 20px;
  width: 140px;
  height: 40px;
  border: 2px solid #d11f2d;
  background-color: transparent;
  transition: 0.3s;
}
.btn-red:hover{
  background-color: white;
  color: #d11f2d;
}
.btn-contact-us {
    display: inline-block;
  margin: 25px;
    width: 240px;
    height: 60px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    transition: 0.3s;
  }
  .btn-contact-us:hover{
    background-color: white;
    color: #d11f2d;
  }


  .btn-black{
    display: inline-block;
    margin: 20px;
    width: 140px;
    height: 40px;
    border: 2px solid #222222;
    background-color: transparent;
    color: #222222;
    font-size: 23px;
    font-weight: 700;
    transition: 0.3s;
  }
.btn-black:hover{
  background-color: white;
  color: #d11f2d;
  border: 2px solid #d11f2d;
}
@media (min-width: 768px) {
  .btn-red{
    margin: 50px 5px 80px 5px;
  }
}