.blog-post{
  position: relative;
  padding: 100px 0 0px;

}



.admin-sad{
  margin: 70px 0 70px 0;
}

.admin-text{
  background-color: #36a8ff;

  p{
    color: #dbefff;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 40px;

  }
}