.body{
    font-family: 'Noto Sans', sans-serif;
}

.inputoutput{
    position: relative;
    
    background-color:#263238 ;
    padding-left: 0px;
    padding-right: 0px;
}
.inputoutput input{
    position: relative;
    height: 15vh;
    max-width: 95%;
    font-size: 30px;
    color:#B0BEC5;
    padding-top: 5px;
    background-color: transparent;
    border: none;
    
}
.inputoutput b{
    display: block;
    height: 20vh;
    color:#ECEFF1;
    font-size: 45px;
    padding: 8px;
}
.keybord{
    color: #ECEFF1;
    padding-left: 0px;
    padding-right: 0px;
    height:65vh;
    background-color: #37474F;
    font-size: 20px;
}
.keybord button{
    display: inline-block;
    background-color: transparent;
    border: 1px solid #263238;
    border-right: none;
    border-bottom: none;
    height: 13vh;
    width: 100%
    
}


.znaki{
    color:#84FFFF;
    background-color: #263238 ;
    
}
.znaki:hover{
    background-color:#FF5252; 
}
.ravno{
    color:  #ffffff;
    background-color: #FF5252;
    border: none;
    
}

#CE:hover{
    background-origin: 
}













.col-md-3{
    padding-left: 0px;
    padding-right: 0px;
}
.col-sm-3{
    padding-left: 0px;
    padding-right: 0px;
}
.col-xs-3{
    padding-left: 0px;
    padding-right: 0px;
}

.col-xs-9, .col-sm-9, .col-md-9{
    padding-left: 0px;
    padding-right: 0px;
}

@media (min-width: 768px) {
    .container {
        width: 480px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 480px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 480px;
    }
}

